<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    {% if page.noindex %}<meta name="robots" content="noindex">{% endif %}
    <title>{{ site.title }}: {{ page.title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-fUMURLTdEcpeYHly3PAwggI3l2UvdHNg/I+8LRph7hLDcAZm77YfDx3Tjum9d3vK" crossorigin="anonymous">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.min.js"></script>
      <script src="/js/respond.min.js"></script>
    <![endif]-->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    {% if page.redirect %}<meta http-equiv="refresh" content="0; url={{ page.redirect }}">
    {% endif %}<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed/" | relative_url }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img alt="{{ site.title }}" src="/img/logo25x25.png" /></a>
      <a class="navbar-brand" href="/">{{ site.title }}</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% for item in site.data.menu %}
        <li{% if page.permalink == item.linkurl %} class="active"{% endif %}><a href="{{ item.linkurl }}"><span class="glyphicon {{ item.icon }}"></span> {{ item.name }}{% if page.permalink == item.linkurl %} <span class="sr-only">(current)</span>{% endif %}</a></li>
        {% endfor %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="container">
{% if site.infobar %}<div class="alert alert-warning" role="alert">{{ site.infobar }}</div>{% endif %}
<h1>{{ page.title }}</h1>
{% if page.redirect %}<h3> Redirecting to <a href="{{ page.redirect }}">{{ page.redirect }}</a> ...</h3>{% endif %}
{{ content }}

</div><!-- /.container -->

<hr>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6"><small>© Copyright 2016-{{ site.time | date: "%Y" }} <a href="{{ site.authorlink }}">{{ site.authorname }}</a>. Revision {{ site.github.build_revision | slice: 0, 8 }}.</small></div>
            <div class="col-md-6"><small><a href="/imprint/">Imprint / Impressum</a> | <a href="/privacy/">Privacy Policy / Datenschutzerklärung</a></small></div>
        </div><!-- /.row -->
    </div><!-- /.container -->
</footer>

<script src="/js/jquery.min.js" integrity="sha384-/Gm+ur33q/W+9ANGYwB2Q4V0ZWApToOzRuA8md/1p9xMMxpqnlguMvk8QuEFWA1B" crossorigin="anonymous"></script>
<script src="/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
{% if site.environment == 'prod' %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-89270507-2', 'auto');
  ga('set', 'anonymizeIp', true);
  ga('send', 'pageview');

</script>
{% endif %}
</body>
</html>
